@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  background: #437dcc; }

header {
  padding-top: 15vh;
  text-align: center;  
}

ul { 
  border-top: 1px solid #fff;
  padding: 0;
  padding-top: 20px;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  color: #fff;
  background: #636363;
  border: none;
  cursor: pointer;
